# Maven build outputs
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Avoid ignoring Jar file in the target directory
!**/src/main/**/target/
!**/src/test/**/target/

# IDE Settings
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache/
.vscode/
bin/
*.swp
*.swo

# Environment & Sensitive Data
src/main/resources/application.properties
*.local
.env
.env.*

# Logs & Temporary Files
logs/
*.log
HELP.md
temp/
tmp/
